
.traffic-light {
    background-color: darkgray;
    height: 310px;
    width: 110px;
    border-radius: 30px;
}

.light {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px;
}